h2{
    text-align: center;
}

button{
    padding: 0.25em 1em; 
    background-color: lightgrey;
    color: black;
    border: 2px solid blue;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
    border-bottom-left-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
}

body {
    font-size: 1em;
    font-weight: normal;
    font-family: "Century Gothic",Verdana,sans-serif;
    color: #000000;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width:500px;
    margin: 0 auto;
  }